{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "standard", "prettier"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "globals": {},
  "plugins": ["react", "prettier"],
  "ignorePatterns": ["**/test/*.js"],
  "rules": {
    // 开启 prettier
    "prettier/prettier": "error",
    "no-console": "error",
    "no-debugger": "error"
  }
}
