/node_modules
/pro 

yarn-error.log

# 忽略 deveproductor 模式的文件
# /dist 

# 用于记录本地的开发时遇到的问题或者待解决的方案
本地文件.md  


# 用于忽视本地开发的 src 内的文件 可以考虑取消
# /src     

# 忽视本地的文件
# /public

# 忽略 productor 模式后的打包文件 
# /production 


# 用于测试的文件
/demo-test
/demo-test-public