**/*.svg
**/*.ico
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
/dist
/bin
/config
/lib
.DS_Store
.eslintignore
*.png
*.toml
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
**/node_modules/**
.npmrc
webpack.config.json
*.md